[2016-11-03 07:39] cutout33 opened #2 "Using with javascript"
Hi,

am sorry for being a noob, but am new to nativescript and I want to use your plugin. my application uses javascript. can I use your plugin in my app or it has to be in typescript?

Thanks in advance!

[2016-11-03 16:34] roblav96 commented on #2
@cutout33 This library is more of a `getting started` than a fully developed library for nativescript. I've included the definitions for each platform in their `*.d.ts` files so you can checkout the onesignal docs and those files for reference.

[2016-11-21 17:58] GideonJ opened #3 "iOS 10.1 NSException thrown if app is open when receiving push notification"
libc++abi.dylib: terminating with uncaught exception of type NSException

[2016-11-21 18:19] roblav96 commented on #3
@GideonJ not much info given there bud, need more.

[2016-11-21 18:22] GideonJ commented on #3
I agree, not much info at all but that's all I get. What can I provide to better assist you?

[2016-12-09 17:54] davecoffin opened #4 "ios_attachments support?"
I am trying to wire up ios_attachments, but the image does not come through. OneSignal says that ios_attachments are compatible with version 2.2.0 of their ios sdk, what version of their sdk does this plugin import?

[2016-12-09 20:32] roblav96 commented on #4
It pulls the latest version through cocoapods

[2016-12-21 09:31] kentplaza opened #5 "How to get player id after registered device by using idsAvailable"
I added idsAvailable after registered successfully as below but got error and failed to return any player id:
TnsOneSignal.idsAvailable(function(userId,registrationId) {
    console.log("OneSignal User ID:", userId);
  });

Error:
JS: error Error: Cannot convert object to Lcom/onesignal/OneSignal$IdsAvailableHandler; at index 0

[2016-12-21 12:59] roblav96 commented on #5
The current state of this plugin only exposes the native `OneSignal` class on ios and the `com.onesignal.OneSignal` class on android.

I'll be making some changes to make this more of a plugin rather than a wrapper.

[2016-12-22 01:08] kentplaza commented on #5
thanks for fast response.

TnsOneSignal just a variable.

im using class OneSignal and sucessfully register into onesignal. Just i failed to retrieve player id by using OneSignal.idsAvailable.

what your nean idsAvailable method not expose in this plugin? mean i cant use this method to get the player id?

[2017-01-12 16:57] davecoffin commented on #5
@kentplaza I am using IdsAvailable to get the player ID. Maybe your problem is you arent calling the method correctly, its IdsAvailable, not idsAvailable

[2017-01-13 15:02] kentplaza commented on #5
@davecoffin I tried IdsAvailable. No luck.

[2017-01-18 18:34] davecoffin opened #6 "1.0.6 crashes app"
When updating to 1.0.6, I get this error after the app builds:

***** Fatal JavaScript exception - application has been terminated. *****
Native stack trace:
1   0x1006d5dc0 -[TNSRuntime executeModule:referredBy:]
2   0x1000d9428 main
3   0x191d315b8 <redacted>
JavaScript stack trace:
1   @file:///app/tns_modules/nativescript-onesignal/onesignal.js:2:33
JavaScript error:
file:///app/tns_modules/na

[2017-02-23 06:32] tushar-1health commented on #5
Any update on this I am facing the same issue as @kentplaza . Help needed.

[2017-02-23 12:27] roblav96 commented on #5
@kentplaza @tushar-1health

# Android
[code]

# iOS
[code]

[2017-02-28 23:03] davorpeic commented on #5
Hi @roblav96 , thanks for the examples, any change you could provide how we can actually use this snippets? I made special provider with this code, but I have bunch of typings errors, I included both typings (they are not in npm btw, so I moved them manually).

I tried to replace code in main.ts with this but I get
[code]

[2017-02-28 23:18] davorpeic opened #7 "NS 2.5 + Angular"
Hi,

anybody managed to get this working on Nativescript 2.5 + Angular app?

My main.ts looks like this
[code]

And this is what I get when I try to build
[code]

I tried to remove/add platform ios and this is without typings defined in references, if I add them then I get lots of android typings errors.

thanks

[2017-03-01 02:52] davorpeic commented on #7
Ok, I managed to get this working, I created few methods with promises that I need in this project, I will create a Gist tomorrow so others can follow this example if they need this implemented in Angular

[2017-03-02 00:09] roblav96 commented on #5
`OneSignalCommonClass` is your own class. You don't have to make these calls from a class.

[2017-03-02 17:09] davorpeic commented on #5
Could you find time to provide how and where would you put this code so it actually works? I managed to buildup some callback functions based in Readme docs, but your solution looks much prettier :)

thanks

[2017-03-06 12:56] tushar-1health commented on #7
@davorpeic Any update?

[2017-03-06 14:24] davorpeic commented on #7
Hey, I started but didn't finished, let me see if I can upload gist today, thanks

[2017-03-07 11:49] tushar-1health commented on #5
An example of this implementation (idsAvailable) in demo would help alot.

[2017-03-07 14:32] davorpeic commented on #7
Hey @tushar-1health I put in this gist service that I use to get IDs and to save tags, these are all methods that I use at this moment besides registering device. I'm sure it can be improved.

Please try and let me know how it goes https://gist.github.com/davorpeic/93605ccf42702e7b932c61b6bd6bcc46

[2017-03-07 18:27] roblav96 commented on #5
@tushar-1health @davorpeic
# Refer to `/typings`
https://github.com/roblav96/nativescript-onesignal/tree/master/typings
You guys really need to learn how to read typescript before writing it.

# Android
[code]
# iOS
[code]

[2017-03-07 18:29] roblav96 commented on #7
@davorpeic your example will only work on iOS. please refer to this https://github.com/roblav96/nativescript-onesignal/issues/5#issuecomment-284811981

[2017-03-07 18:31] davorpeic commented on #7
Thanks @roblav96 yeah, I just saw your example, thanks!

[2017-03-07 18:42] davorpeic commented on #5
Lol true, but also making library wrapper and not providing documentation on how to use it, it's also almost useless as not having the wrapper at all :)

[2017-03-15 14:06] tushar-1health opened #8 "NativeScript angular2 actionCallback navigate"
Hello,

I was able to configure the plugin. However, I am listening to actionCallback to get buttons and route to them. But since angular2 is not yet initiated in main.ts how would it work out? So on click a button depending on id of the button route to a angular2 component.

Regards

[2017-03-21 19:10] tusharvikky commented on #7
@davorpeic @roblav96
Hey, Have you configured ``` receivedCallback ``` / ```actionCallback ```? I was unable to redirect when a button is clicked on notification. Hoping you can help here.

[2017-04-11 13:07] tushar-1health commented on #8
@roblav96 Any update?

[2017-04-11 13:35] roblav96 commented on #8
@tushar-1health I have not previously used this feature before so I'm not sure how this would work =/

[2017-04-16 09:33] sonnh58 commented on #8
@tushar-1health  i can click notification then navigate to detail page depend on ID of item.

i store `notification.payload.additionalData` to config then if ID in `additionalData`  is exist, navigate to detail page on onInit function

[2017-04-16 09:39] tusharvikky commented on #8
@sonnh58 I stored additionalData in localstorage and in default route, I checked if it available redirect to it. It works fine in Android. However, in iOS it saved in localstorage but doesn't redirect on first hit on default route component, but If you navigate to a different route and come back to default route it then redirect to the desired page.

Could you please create a gist which can help w

[2017-04-16 12:41] sonnh58 commented on #8
@tusharvikky i only store it in a variable..
tap to redirect only work when 1 user are not using app. when they tap message, app is opened

on default router component i check if this variable
[code]

[2017-04-30 14:09] randy-johnson opened #9 "Build issue"
I am getting this error today when trying to do a build of my app.  Not sure what I should do since there is nothing  in the documentation on the app id

`com.onesignal:OneSignal:3.5.1] C:\ns\locallyepicapp\platforms\android\build\intermediates\exploded-aar\com.onesignal\OneSignal\3.5.1\AndroidManifest.xml:52:13
-48 Error:
        Attribute meta-data#onesignal_app_id@value at [com.onesignal:OneSig

[2017-04-30 14:20] randy-johnson commented on #9
This part of the error:  Attribute meta-data#onesignal_app_id@value value=(test) from AndroidManifest.xml:30:46-66  looks like it is because I tried adding a value to my App_Resources Android manifest file to see if that would take care of the error but it didn't

[2017-05-01 15:51] roblav96 commented on #9
@randy-johnson you only need to touch your `gradle` file:
[code]

[2017-05-07 17:06] randy-johnson opened #10 "com.onesignal.OneSignalStateSynchronizer$UserState.access$1500"
This error showed up in our crash reporting.
Any idea what caused it?

I cannot duplicate on any of our devices.

[code]

[2017-05-08 17:06] roblav96 commented on #10
I've never seen this error before :/   I would make sure the geo-tag feature in onesignal is disabled on initialization

[2017-05-08 17:41] randy-johnson commented on #10
I am not at home in front of the code at the moment to verify, but I am pretty sure unless it was turned on in the documentation or demo code, or unless I have to explicitly set it to off, then that isn't the issue.

I will respond tonight when in front of the code.

[2017-05-08 18:30] jkasten2 commented on #10
@randy-johnson Can you share the exception that is thrown with the stack trace above? Also the exact version of the this SDK and the native part if you have it.

[2017-05-11 23:31] davorpeic commented on #8
In addition to @sonnh58 answer, I used "resume" events available from `application`, so for example, if you are in some other app chatting, and you get notification and your app is open just in background this will trigger this event. For other cases (when `ngOnInit()` gets triggered use @sonnh58 way to handle details.

[code]

Taken from docs https://docs.nativescript.org/core-concepts/applicatio

[2017-05-14 07:08] xiaochong44 opened #11 "Google Play Services Library Error"
In AndroidManifest.xml i write this  <meta-data android:name="com.google.android.gms.version"
             android:value="3.0.0" />
onesignal show
 Google Play services library initialization error. Check for conflicting plugins and make sure "com.google.android.gms.version" is in your AndroidManifest.xml. Check the logcat for more details.
help me

[2017-06-08 13:28] NickIliev opened #12 "Plugin is not Webpack compatible"
Change the [main entry ](https://github.com/roblav96/nativescript-onesignal/blob/master/package.json#L5) from `onesignal.js` to `onesignal`

Related to [this](http://docs.nativescript.org/angular/tooling/bundling-with-webpack.html#referencing-platform-specific-modules-from-packagejson) and reported by plugin's client [here](https://stackoverflow.com/questions/44435509/nativescript-angular-webpack-

[2017-06-09 19:52] roblav96 commented on #12
@NickIliev All done =]

[2017-06-12 08:50] #12 closed

[2017-06-30 05:09] moritzvieli opened #13 "Usage of the new addSubscriptionObserver"
Does anyone know how to use the new addSubscriptionObserver?

I could not get it working in NativeScript with Angular.

[2017-07-11 14:48] CodeObia opened #14 "update to 3.0.1^"
is there plane to update to latest version  ?

[2017-07-19 06:44] rags22489664 commented on #5
This is how I managed to do it in case some body is still looking for this.

install tns-platform-declarations by following below

http://docs.nativescript.org/angular/core-concepts/accessing-native-apis-with-javascript.html

then append below to your references.d.ts
[code]
in main.ts (or anywhere you like)

[code]

[2017-08-01 15:00] davorpeic commented on #7
Hey @tusharvikky I recommend everybody to switch to Firebase Messaging, it's also free and works great with Eddy's https://github.com/EddyVerbruggen/nativescript-plugin-firebase, I had to modify a little bit my NS app code, and my laravel server side was already using curl post, so I almost only replaced url and it kept working the same with firebase fcm. The firebase plugin is maintained and it i

[2017-08-14 07:53] vincentduprez opened #15 "Ios Android inconsistency"
Hi Just to let you know that there is a platform inconsistency :
sendTag method on Android is not a method on Ios ...
Official Api uses sendTag

[code]

[2017-09-14 09:18] bumbella opened #17 "build problem"
Hi!
I use nativescript angular latest version.
I use this plugin and work correct but if I build width webpack this error crash build app.
In tsconfig.js "noEmitOnError": false tns build and run jump this error but webpack not build app with this error. Please help me.

Cannot find name 'UIResponder'.
ERROR in app/main.ts (12,53): Cannot find name 'UIApplicationDelegate'.
ERROR in app/main.ts (13,

[2017-09-14 14:40] roblav96 commented on #17
@bumbella I have not tried using webpack with anything nativescript so I honestly have no idea about this :/

[2017-09-14 14:40] roblav96 commented on #17
@bumbella I have not tried using webpack with anything nativescript so I honestly have no idea about this :/

[2017-09-14 16:06] ghost commented on #17
Can U help me what is the problem and how can I resolve this errors?
Why can't find this name?
This is not webpack problem.
Thank you

ERROR in app/main.ts (12,53): Cannot find name 'UIApplicationDelegate'.
ERROR in app/main.ts (13,40): Cannot find name 'UIApplicationDelegate'.
ERROR in app/main.ts (14,63): Cannot find name 'UIApplication'.
ERROR in app/main.ts (14,93): Cannot find name 'NSDiction

[2017-09-18 16:04] thiagomotta opened #18 "nativescript -> cannot read property One Signal of undefined"
Hi,
When I give android build, I get the error

"cannot read property One Signal of undefined
file: "file://data/data/XXX/files/app/tns_modules/nativescript-onesignal/onesignal.js, line: 3, columns: 36"

Please, can you help me?
Thanks.

[2017-09-19 14:07] Serge-SDL commented on #18
Got the same issue with webpack

[2017-09-20 09:27] Serge-SDL commented on #18
Hello !

I think I just find the solution: it's related to an old nativescript version: I had not update my NS version fora while, and updating it fix the prolem...

Serge

[2017-09-27 06:03] saikumar-madana opened #19 "Error is: Command gradlew.bat failed with exit code 1"
Hi,
I tried installing package nativescript-onesignal. After that, I got an error like UNMET PEER DEPENDANCY. Then I updated my modules following some posts on GitHub and StackOverflow. But, now when I try to build and run the application I got BUILD FAILED error. Unable to understand what went wrong. I followed some posts to resolve this but with no success.
Following is the error I got in the co

[2017-10-09 07:08] OPADA-Eng opened #20 "How to set setInFocusDisplaying to false"
Hi, I'm trying to disable alert notifications inside the app when active.
I searched for a solution and found this options in [OneSignal native SDK ](https://documentation.onesignal.com/docs/android-native-sdk#section--setnotificationreceivedhandler-)
but when I tried to use it it says:

How can I do this ?
Thanks

[2017-10-20 12:54] bumbella opened #21 "Someone is using Nativescript Angular version and webpack?"
Hi!
Someone is using Onesignal plugin Nativescript Angular version and webpack?
I make tns run android and tns run ios is fine. Typescript not get error and plugin work great but if I use webpack build the plugin not working.
I must insert this code in main.aot.ts?
Why not working plugin when webpack successed build project?
Please help someone because I use lot of hours google but I don't find my

[2017-10-26 14:13] bumbella opened #22 "Additional data how can I get in app?"
Can You help me how can I get additional data when clicked message and send additional data.
Thanx Bumbella

[2017-10-29 07:16] roblav96 commented on #22
@bumbella I've actually never tried doing this before so I'm not too sure :X

[2017-11-11 14:44] ghost commented on #8
Please @sonnh58 help me with code how can I get additioanal data in app.
Many many thanx.
My code is:

[code]

[2017-11-13 15:11] ghost commented on #8
@tushar-1health or @sonnh58 Can you help me how can I get onesignal message or title or additioanl data in my Nativescript-angular app?
Thanx
Bumbella

[2017-11-16 13:24] alexandruantonica commented on #21
Hi @bumbella
I didn't test this but I think you must add the same code in `main.aot.ts`. I had this type of problem before with other plugin and this was the workaround.

[2017-11-16 13:27] alexandruantonica commented on #22
Hi @roblav96
I'm going to use your plugin for my app.
Could you confirm that I could send additional data via this plugin, please ?
If we can't, let's find a way because I think it's useful feature.

Thanks.

[2017-11-24 12:25] leopoldv opened #23 "handleNotificationOpen callback"
Is there an example on how to use handleNotificationOpen on Android and iOS?

[2017-11-26 09:56] OPADA-Eng commented on #20
@roblav96 can you tell me?

[2017-11-26 10:13] OPADA-Eng commented on #20
Finally I did it like this in android
`TnsOneSignal.setInFocusDisplaying(TnsOneSignal.OSInFocusDisplayOption.Notification);`
and it works

[2017-12-06 16:40] xlmnxp commented on #17
on first line in file `main.ts` write this:
[code]

[2017-12-06 16:44] xlmnxp commented on #19
go to `app/App_Resources/Android/settings.gradle`

and add this for your code

[code]

and replace `onesignalAppId` with your app id on onesignal

[2017-12-14 20:45] alexandruantonica commented on #23
I have the same question.

[2017-12-14 21:16] leopoldv commented on #23
@alexandruantonica I found a solution on my own eventually so here it goes:

**For Android:**
var nativescript_onesignal_1 = require('nativescript-onesignal');
nativescript_onesignal_1.TnsOneSignal.init(applicationModule.android.context,"" ,"",new
          nativescript_onesignal_1.TnsOneSignal.NotificationOpenedHandler({
                notificationOpened: function (result) {

[2017-12-14 21:48] alexandruantonica commented on #23
@leopoldv I work in Nativescript with Angular.
My code should looks like that ?
I used `received` instead of `opened`.

[code]
I also tried your way too.
[code]

It doesn't work.

[2017-12-23 10:24] bumbella opened #24 "nativescript 3.4.0 update and problem"
Can U help me?

ERROR in OneSignal.android.d.ts(3,52): error TS2339: Property 'amazon' does not exist on type 'typeof com'.
OneSignal.android.d.ts(14,47): error TS2339: Property 'amazon' does not exist on type 'typeof com'.
OneSignal.android.d.ts(15,44): error TS2314: Generic type 'Class<T>' requires 1 type argument(s).
OneSignal.android.d.ts(123,72): error TS2339: Property 'WakefulBroadcastReceiv

[2018-01-04 13:19] GustavoEdinger commented on #22
After `TnsOneSignal.startInit` was called you can begin use `TnsOneSignal.sendTag` method:

[code]

In my tests `TnsOneSignal.sendTags` doesn't work, so I needed to send tag by tag.

[2018-01-04 16:14] GustavoEdinger commented on #23
@alexandruantonica You need to set the handler in the constructor, something like this:

[code]

[2018-01-18 10:57] fabio87dea opened #25 "Android 8.0 - no push notification"
With Android 8.0 doesn't working the push notification

[2018-02-02 23:10] Ericky14 opened #26 "iOS Push Notifications Not Working"
I followed the guide on the README and the android worked fine, but iOS won't even register a user. How exactly do I have to register an user and get the userId? I tried OneSignal.registerForPushNotifications and it didn't do anything either. Does it only work after the app is built and you get it from the app store? Or does it work with `tns run ios` to a physical iOS device too?

[2018-02-03 04:12] Ericky14 commented on #26
Nevermind, I declared the Delegate in main.ts after bootstrapping the app, it has to be before...

[2018-02-03 04:12] #26 closed

[2018-02-04 05:13] randy-johnson opened #27 "alert dialog when receiving pushes"
Is there some default functionality when receiving push notifications that cause an alert dialog to pop up?

I have my received and open handlers set and they do not include an alert()  yet I am still getting an alert dialog.

[2018-02-04 16:36] randy-johnson commented on #27
Duplicate of #20

[2018-02-04 16:36] #27 closed

[2018-02-08 16:49] alexandruantonica commented on #23
Hi @Gustavo47
It does work when I use this :
[code]

But I tried to do the same thing (to catch the notification) on iOS but I failed.

The only function that works is `initWithLaunchOptionsAppId( launchOptions, appId)`. In documentation says we should use `initWithLaunchOptions( launchOptions, appId, HandleNotificationReceivedBlock, ...)` but when I try this, nativescript told me that `initWithLa

[2018-02-24 23:21] dgome commented on #5
I'm late, but you could do the following that works for me:
[code]
[https://documentation.onesignal.com/docs/android-native-sdk#section--getpermissionsubscriptionstate-](url)

[2018-02-25 05:53] mablejohn opened #28 "Error: Command gradlew.bat failed with exit code 1"
Hello,

I would like to create a Cross platform project using TNS.

I tried your tutorial and I ran few commands

- tns create HelloWorld --template nativescript-template-tutorial
- cd HelloWorld
- tns run android

And ended up with the following stack-trace.

Would you please tell me what I am doing wrong?

Thanks a lot.
Mable John

The stack trace:

[code]

[2018-03-04 17:29] alexandruantonica opened #29 "[Request] Wrapper needed"
Hi @roblav96
Would you like to help us with a wrapper for OneSignal SDKs ?
It would be very useful and easy to understand how to use this plugin in my application and I think it will be useful for others as well.

Thanks 👍

[2018-03-06 11:21] LSmint opened #30 "How to determine NotificationReceivedHandler is foreground or background?"

[2018-03-20 17:10] dariopellegrini opened #31 "TnsOneSignal undefined in Android"
TnsOneSignal is undefined in Android with latest version installed with tns.

Any solution? com.onesignal.OneSignal is undefined as well.

[2018-03-29 13:36] dariopellegrini commented on #31
Error fixed making tns platform remove android and tns platform add android.
Here's the code for a NativeScript Angular app.
[code]

[2018-03-29 13:38] #31 closed

[2018-04-06 12:19] dario-colombo commented on #13
@moritzvieli did you ever succeeded implementing addSubscriptionObserver in  NativeScript with Angular?

[2018-04-17 12:02] PraktikerNeosoft opened #32 "Firebase Facebook login and OneSignal plugin conflict delegate"
Hi,
I have a problem.
My code:
[code]

If I want to use Firebase facebook login not working. If I remove
` application.ios.delegate = IosDelegate;`
works fine. Can U help me what is the problem?
Thanx
Miklos

[2018-04-20 07:13] Melonbwead commented on #2
Can this plugin be used for Javascript nativescript projects? Or does the project needs to be in typescript ?

[2018-04-27 10:58] shivgolani opened #33 "App constantly crashing on receiving notification"
System.err: java.lang.RuntimeException: Unable to instantiate service org.nativescript.plugins.firebase.MyFirebaseMessagingService: java.lang.ClassNotFoundException: Didn't find class "org.nativescript.plugins.firebase.MyFirebaseMessagingService" on path: DexPathList[[zip file "/data/app/com.ngasce.jforce-1/base.apk"],nativeLibraryDirectories=[/data/app/com.ngasce.jforce-1/lib/arm, /data/app/com.n

[2018-04-27 19:49] habibi-dev commented on #11
+1

[2018-04-27 21:37] jkasten2 commented on #33
@shivgolani This is crashing due to the following class being defined in your `AndroidManifest.xml`
`org.nativescript.plugins.firebase.MyFirebaseMessagingService` but the java class is not included in your app.

OneSignal does not use FCM / Firebase currently so you can remove this safely.

[2018-04-29 19:31] #29 closed

[2018-04-30 08:46] shivgolani commented on #33
@jkasten2 What i did is while installing firebase plugin I installed the FirebaseMessagingService service and it has started working.

[2018-05-03 08:37] endymion00 commented on #13
I'm in the same boat. No way yet. I'm switching again to the deprecated method idsAvailable.

[2018-05-03 14:35] moritzvieli commented on #13
@dario-colombo @endymion00 Unfortunately not... also still using the deprecated method.

[2018-05-05 10:14] Darahat commented on #28
i also have facing same problem.Please anyone solve this issue.

[2018-05-05 23:31] xlmnxp commented on #28
same problem in #19

to fix problem do that:
step 1:
replace file `settings.gradle` in `app/App_Resources` with:
[code]
don't forget replace `__onesignal_app_id__` with your OneSignal app id
----
step 2:
[code]
----
step 3:
[code]

[2018-05-06 06:17] mablejohn commented on #28
No such file (settings.gradle) in `app/App_Resources`

I updated **NativeScript CLI** Tooling and **Android runtimes** then the problem went away.

**Environment information**

[code]

[2018-05-14 16:13] endymion00 commented on #23
hi @alexandruantonica,
Idid you make it work for iOS?
I don't understand why initWithLaunchOptions it is not available although in theory the lastest framework must be used (according the podfile)

[2018-05-14 17:56] alexandruantonica commented on #23
@endymion00 Yes, I did.
I have created a service responsible for push notifications and there is where I initiated the OneSignal plugin.
[Here](https://github.com/roblav96/nativescript-onesignal/issues/5) you can find a piece of @roblav96's service.

Basically `initWithLaunchOptions` was split into multiple methods where you can choose which one you need. If you check the typing, you'll understand

[2018-05-14 21:45] endymion00 commented on #23
@alexandruantonica thank you very much for you help! I will try it :)
In my case I need to handle when the user "opens" the push notification in order to navigate to a specific page. If I'm not wrong the method you are using (in iOS) it is triggered when the push notification arrives.
By the way,  just for curiosity, NotificationsService.onReceived which I suppose it is a custom emthod method, doe

[2018-05-15 09:43] alexandruantonica commented on #23
@endymion00 There is an empty function with `actionCallBack()` because I don't need it. There is the place where you can add your code to handle actions of users (click on notification).
Yes, `NotificationService.onReceived` is a custom method from my service that handle notifications onReceived event. You can create a method like this one where you can handle the onAction event.

My `onReceived`

[2018-05-15 15:14] endymion00 commented on #23
@alexandruantonica great I will apply the same strategy :)
As I see I'm having trouble with parsing additionalData from iOS.
I have a function called parsePushMessageIos that parses the message. It does not fail and in theory is getting all keys inside additionalData but for some reason I can process the result of the function. JSON.stringify is not showing the content and JSON.parse fails.
As I s

[2018-05-15 15:40] alexandruantonica commented on #23
@endymion00 This is my parseJson method and I use it for data field.
[code]
[code]

[2018-05-15 15:54] webmeemba opened #34 "Help Implement Notification opened/received"
Me code is:

TnsOneSignal.startInit(androidApp.context).init();

 I need :
TnsOneSignal.handleNotificationOpened((jsonData) => {
console.log('didOpenRemoteNotificationCallBack: ' + JSON.stringify(jsonData));
})

not found

[2018-05-16 13:52] eladcandroid opened #35 "Anyone knows how to integrate with Vue.js?"

[2018-05-16 15:10] endymion00 commented on #23
@alexandruantonica for some reason that code failed (maybe because I am using NS 3.4.2 version), but I noticed that the my previous code was working. An unhandled error related to navigation confused me about the real reason.
As I saw there is a problem with navigating to another page when using the notification opened handler but probably it is due to lack of knowledge about how to handle this pr

[2018-05-25 01:25] Ericky14 commented on #25
Any update on this issue?

[2018-05-25 20:48] jkasten2 commented on #25
@fabio87dea I recommend providing more details such as build errors and logcat entires related to the issue to help debug.

[2018-05-26 01:38] Ericky14 commented on #25
@jkasten2 For me, there's no build errors. It simply doesn't work with android 8.0.

I believe it might be an issue with dependencies. On the OneSignal dashboard, the android 8.0 users have a warning saying "Outdated Android Support Library". But I have no idea which libraries are outdated and how to add them to my project. I tried adding all the ones I could find using methods such as
[code]
But

[2018-07-03 09:24] endymion00 commented on #30
@LSmint I suggest you to check the properties that topmost contains.
I use this to check if the app its being launched (so was killed) and I think when the app is in background currentEntry is null (but I have not checked)

 const frameTopmost = frameModule.topmost();
// check frameTopmost.currentEntry and maybe other properties.

[2018-07-05 06:56] kvindasAB opened #38 "v1.0.8 - Incompatible with TNS 4.1"
The hook provided with v1.0.8 is causing issues with TNS 4.1

The specific problem is that it turns the `platforms/android/app/build.gradle` unusable.

In specific this text portion.

[code]

This makes the whole compilation fail.

[2018-07-05 13:49] thematan commented on #25
Oreo introduced new notifications API.
you should prepare for it.
here are some docs:
[one signal android categories](https://documentation.onesignal.com/docs/categories)

[2018-07-06 05:08] roblav96 commented on #38
Wait so is v1.0.8 not working at all?

[2018-07-06 07:28] kvindascr commented on #38
Hello @roblav96 I was not able to make it work with my project in any way.

Not with tns3, or tns4 or tns41.

Not even trying to hack the build.gradle.

Also as comment I review the hook and the issue is that the regex you are using is no longer matching the build.gradle, at least from the perspective you are expecting.

But even when I was able to get the project building, I use to get a multidex

[2018-07-15 18:26] endymion00 commented on #38
I also tried to hack the gradle file I got the same results. I'm not expert in subject but my conclusion was that due to google packages changes now there is a problem when trying to adapt the gradle file the same way as onesignal states on their website. I tried to set that packages by hand with no luck.
Then I discovered that onesignal uses a plugin that solves google packages compatibility and

[2018-07-16 11:55] thematan commented on #38
I also have problems with version 1.0.8.
it corrupts my build.gradle file with maven { url : ... } which makes it unreadable

[2018-07-17 23:35] webmeemba commented on #38
I also have problems with version 1.0.8.
it corrupts my build.gradle file with maven

[2018-07-24 09:43] ianrothmann commented on #38
I have the same problem with 1.0.8.

[2018-07-29 07:24] yclau commented on #38
I have the same problem with 1.0.8.

[2018-08-02 18:56] alexandruantonica opened #39 "Error after update to 1.0.8"
After I update the plugin to 1.0.8 I have this error when I run `tns run android`.
@roblav96 Seems like your postinstall script have some errors.

[code]

Let me know if you need more info.

[2018-08-21 10:10] mahavirvataliya opened #40 "Build Failed"
**mobile-app/platforms/android/build.gradle**
[code]

Above Error Occured in Addition to project

[2018-08-21 10:12] mahavirvataliya commented on #40
[code]

[2018-08-22 21:07] jkasten2 commented on #38
I believe this issue was related to the post hooks added in 1.0.8. I remove them in this fork which I believe should fix the issue.
https://github.com/OneSignal/nativescript-onesignal

Can you try this fork on a new native script 4.1 project?

[2018-08-24 02:11] jkasten2 commented on #39
@alexandruantonica Can you give this fork a try?
https://github.com/OneSignal/nativescript-onesignal

This one has the fork has the install hooks removed so it should get you past this error.

[2018-08-24 02:13] jkasten2 commented on #40
@mahavirvataliya Closing this issue as a duplicate of #38. I have added something you can try to resolve this issue there. If you give it a try let us know if it works

[2018-08-24 02:13] #40 closed

[2018-08-24 02:14] jkasten2 commented on #3
Closing due to inactivity

[2018-08-24 02:14] #3 closed

[2018-08-24 02:15] #4 closed

[2018-08-24 02:17] jkasten2 commented on #6
@davecoffin It looks like the OneSignal binary didn't get bundled in to your app. Are you still seeing this with newer versions of this SDK and Native Script?

[2018-08-24 02:21] jkasten2 commented on #25
This SDK has been updated to support Android Oreo (8.0). Please open a new issue if there is anything related to Oreo you are still seeing.

[2018-08-24 02:24] jkasten2 commented on #19
I believe this is no longer an issue. Please let us know if it is and we can reopen.

[2018-08-24 02:24] jkasten2 commented on #18
Closing due to inactivity. Please let us know if you are still seeing this issue.

[2018-08-24 02:26] #33 closed

[2018-08-24 02:27] jkasten2 commented on #35
@eladcandroid I don't have any experience with Vue.js but if you could provide some details of what you need some one from community might be able to help.

[2018-08-29 07:15] #20 closed

[2018-08-31 05:11] amizz commented on #38
I'm getting this error

[code]

[2018-09-01 07:37] OPADA-Eng commented on #38
I'm getting the same error
` Could not find method maven() for arguments [build_f125p5dtyyowi8ppag9f0hjyx$_run_closure1$_closure3@39bdae10] on object of type org.gradle.api.internal.initialization.DefaultScriptHandler.`

[2018-09-01 08:34] OPADA-Eng commented on #34
ios:
[code]
android:

[code]

[2018-09-01 22:35] alexandruantonica commented on #39
@jkasten2 How can I install a plugin for Nativescript from Github?
I've tried `npm i --save OneSignal/nativescript-onesignal` but the code is not compiled and I don't have any `index.js`and the app throw an error that couldn't find `nativescript-onesignal`.

Thanks ;)

[2018-09-03 13:47] amizz commented on #38
Just a quick fix. Remove any hooks from this library. Then try to rebuild.

[2018-09-10 10:27] SalehMahmood commented on #39
Having the same issue

[2018-09-17 18:57] MopheusDG commented on #38
Same here. It seems the problem is on the first line of repositories under the app\build.grandle:

`repositories {
    // used for local *.AAR files
    def pluginDependencies = nativescriptDependencies.collect {
        "$rootDir/${it.directory}
	      maven { url "https://plugins.gradle.org/m2/" }
/$PLATFORMS_ANDROID"
    }
`

and also in the \build.gradle:

`    repositories {
        google()

[2018-09-17 20:08] MopheusDG commented on #39
Same here...

[2018-09-18 15:51] MopheusDG opened #43 "Please, can someone help changing TS code to JS for NS Core ?"
I'm trying to implement the main.ts code into my NS Core JS app to support IOS and Android. I was able to easily change the Android code to JS but IOS one is more challenging, can someone help me switch it to JS please ?

This is the code in the Library TS example:

MAIN.TS (For IOS)
[code]

I think it could be nice to include JS in the docs for futher references, right ?

Also, here's my JS conve

[2018-09-20 11:34] d-a-p-h commented on #35
I also want to know how to integrate with vue.

[2018-09-25 03:48] pazel-io commented on #9
I found 2 issue when adding this plugin:

1. plugin adds ` maven { url "https://plugins.gradle.org/m2/" }` outside of `repositories` block in `build.gradle` which messes up the generated build gradle as well.

2. As @randy-johnson  mentioned it doesn't add proper `manifestPlaceholders` so it needs to be added manually.

First one is definitely a bug but I am not sure about the second one. The prob

[2018-10-10 07:06] ejlocop opened #44 "failed to run npm run build"
got these errors when I tried to run the demo project.

![image](https://user-images.githubusercontent.com/12082880/46718474-dc22cc80-cc9d-11e8-8fc3-cc857a110b71.png)

here's my npm-log

1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@6.4.1
3 inf

[2018-10-15 07:40] delanick commented on #43
+1

[2018-10-15 12:58] delanick commented on #34
@webmeemba did this work for you?

@OPADA-Eng can you perhaps please post the JS version of your solution(s)? I struggle with TS. :)

[2018-10-16 09:58] OPADA-Eng commented on #34
Android:
[code]
IOS:
[code]

[2018-10-18 18:25] delanick commented on #34
@OPADA-Eng Thanks so much - going to give it a try as soon as my current app's iOS build completes and I finish submitting to the AppStore :)

[2018-10-23 14:08] ghost commented on #43
Hi MopheusDG

  At this moment i´m stuck with the code for javascript too....and because of that i can´t configure the SDK properly, have you figure it out? could you help me?

Regards

[2018-10-23 14:34] MopheusDG commented on #43
Hi @japasanto, you could try (if I'm not wrong) with this TS playground tool that will show you the JS version of any code you type automatically. Typing the code there helped me sometimes to understand what TS was doing, and could/should help you with this case too:

https://www.typescriptlang.org/play/

Hope this helps,
Thanks.

[2018-10-24 09:20] ghost commented on #43
Hey MopheusDG

  Thank you for replying, i ended up discovering that link you are giving me, but my VS code was throwing so much "red lines" that i though: this is not going to pass!!!...but it did pass, and the app asked me if it could send me push notifications...ok!..great!...then i went to my onesignal account and i was having an error, a 3000 apns error and it was saying that i should go to m

[2018-10-24 11:44] MopheusDG commented on #43
Hi @japasanto glad you worked out ! Unfortunatelly, never used the onesignal rest api, so can't help you on that one.

[2018-10-30 07:37] mic1983 commented on #44
Same problem.
Anyone?

[2018-12-04 11:32] delanick commented on #34
@OPADA-Eng Could you perhaps talk me through the JS code that you wrote? Busy trying to implement it but want to understand what I'm seeing.

[2018-12-04 12:23] OPADA-Eng commented on #34
Ok no problem, How do you want to talk?

On Tue, Dec 4, 2018, 1:32 PM delanick <notifications@github.com wrote:

[2018-12-04 12:25] delanick commented on #34
@OPADA-Eng I'm easy, whatever works for you. We could do a quick Skype call if that suits you. What time zone are you in? I can do anywhere after 8pm South African time.

[2018-12-11 10:03] OPADA-Eng commented on #34
Ok, we are at the same time zone.it's ok at 9:00 pm today. this is my skype name: opada-eng1

[2018-12-12 13:39] delanick commented on #34
@OPADA-Eng Apologies bud, I was away yesterday. Can we do today at 9pm? My skype name is delannick. Apoloigies again for missing your message yesterday.

[2018-12-12 13:40] delanick commented on #34
@OPADA-Eng Oops, sorry, delanick with one N :)

[2018-12-17 23:01] delanick opened #45 "User not subscribing"
Hi, my user is being shown on the OneSignal dashboard under total users, but not under subscribed users, what could be wrong?

How do I use the plug in to subscribe the user?

[2018-12-18 06:08] uzarsalan commented on #39
Same issue

[2018-12-21 19:37] delanick opened #46 "Not compatable for Android on NS CLI5+"
I'm getting massive errors when trying to use this plugin on my Android app (iOS builds fine but users don't register with APNS) and would like to know if this can please be updated asap to cater for it.

[2018-12-22 21:33] pdipax commented on #46
Same issue. I have problem with hook.
[code]

[2019-01-05 03:06] randy-johnson commented on #38
Any updates on this?  I tried updating to 1.8 and getting the error referenced above even when using the fork mentioned above.

[2019-01-09 03:28] jkasten2 commented on #45
@delanick Under All User on the OneSignal dashboard it should show the reason why the device is not subscribed. It also provides a tooltip on some causes for most reasons.

[2019-01-09 08:40] delanick commented on #45
@jkasten2 Thank you, appreciated. I see now what the error is.

I have another problem: Each time my device makes contact with OneSignal after reinstalling the app, it is listed as another device/another user - with a new UUID. This is inaccurate reporting surely, as well as problematic. How do I know which instance is the live one that is currently to be used to target that user?

[2019-01-15 06:18] yclau commented on #46
+1

[2019-01-17 16:42] karlix commented on #46
The problem is in file hooks/after-prepare/nativescript-onesignal-gradle.js. This tries to modify the gradle files incorrectly.
Finally I have been able to solve it following the official documentation of onesignal for android sdk and modifying the files manually
https://documentation.onesignal.com/docs/android-sdk-setup

[2019-01-22 14:33] yclau commented on #46
@karlix

May I know what you modify?

[2019-01-23 08:03] delanick commented on #46
@karlix Thanks for letting us know. Sadly I'm no expert when it comes to SDKs etc.... can you please share with us how you fixed it?

[2019-01-24 16:41] guzz commented on #46
Hi @karlix it is realy working? Im trying to mess with it but having no luck.

[2019-01-29 11:56] karlix commented on #46
The steps I have taken to apply this manually are these:

remove code contains in:
hooks\after-prepare\nativescript-onesignal-gradle.js

in platforms\android\build.gradle add:
 inner buildscript -> repositories -> maven { url 'https://plugins.gradle.org/m2/'}
inner buildscript -> dependencies ->   classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:[0.11.0, 0.99.99]'

there should be so

[2019-01-31 18:04] delanick commented on #46
@karlix thank you so much for posting this. As soon as I reclaim the push notifications ticket I will try this out. Thank you!

[2019-01-31 18:05] delanick commented on #46
@roblav96 Any update on this plugin correction yet?

[2019-02-04 05:55] jannomeister opened #47 "How to register and recieve push notification?"
how to configure this plugin to receive push notification from onesignal?

[2019-02-04 07:22] jannomeister commented on #34
also having a hard time implement push notification using this plugin :(

[2019-02-04 10:24] karlix commented on #47
@jannomeister in the init file (apps.ts):
[code]
this is working correctly for me 😉

[2019-02-06 21:59] AntoineBouquet commented on #47
Is there a way to do to use this code in other file than the main project file ? And it is possible to set the One Signal App Id for Android in this piece of code ?

I need to variabilize One Signal App ID getting it somewhere instead of write it directly in the code, and so making the initialization after getting it.

[2019-02-07 08:32] karlix commented on #47
Here what is being done is to link it to the application launch event, so that when the application starts, the OneSignal start code will be executed.
But if you run the same start code of OneSignal in some other place, I do not see why it should not work (but I can not assure you that it works, since I have not tried it)

The only problem I see, is that in case of android, the id of onesignal is

[2019-02-08 02:21] jannomeister commented on #47
@karlix how will you know in onesignal dashboard that your deviec successfully registered?

[2019-02-08 10:27] karlix commented on #47
@jannomeister In the Users section, subscribed users segment. The list of users subscribed to onesignal appears.

[2019-02-10 11:33] max-pro commented on #46
I Try all steps but know i getting error
Could not get unknown property 'android' for root project 'project' of type org.gradle.api.Project

[2019-02-11 03:01] jannomeister commented on #47
@karlix did you successfully implemented how to receive push notifs in iOS? :(

[2019-02-11 03:28] jannomeister opened #48 "Expose OneSignal Api for asking notification permission"
I want to manually ask the user if he/she accepts push notifications after he/she successfully logged in.

This is a sample code snippet from ios sdk for manually asking the user to accept or deny push notification from onesignal. Anyone knows how to implement it using the NS-onesignal plugin?
[code]

[2019-02-11 03:55] jannomeister commented on #48
@roblav96 can you help me with this sir?

[2019-02-11 07:47] PraktikerNeosoft opened #49 "Android crash lot of devices"
When marketing send push notifications to devices this days I get lot of errors in play console ANR & crash section:
executing service hu.praktiker/com.onesignal.SyncJobService
com.onesignal.SyncJobService
java.lang.ClassNotFoundException
dalvik.system.BaseDexClassLoader.findClass
Reports total 7,906 Lifetime
eports 7,906 Last 60 days

Anybody has idea where I going to debug?
Many thnx.
Miklos

[c

[2019-02-21 19:14] markosole commented on #40
Hi guys, is there any solution for this? I am getting same error on NS 5.2.2
Installed plugin using `tns plugin add nativescript-onesignal`
![image](https://user-images.githubusercontent.com/10780405/53195102-d73b3580-360c-11e9-8406-602adb8f3a1c.png)

Thanks!

[2019-02-21 22:42] markosole commented on #43
@japasanto I am having same problem and spent all day in implementing this. After success in API keys and not errors in console log, now I need to "run" it. Please can you paste code you ended up with.

Thanks a lot in advance.

[2019-02-22 19:10] #43 closed

[2019-02-24 00:33] markosole commented on #5
Hi guys, I got device Ids on Android and iOS and app registers on OneSignal. But I can not unsubscribe using `OneSignal.setSubscription(false);`  and I tried `TnsOneSignal.setSubscription(false);` but non of them does not work.

Here is my code (sorry it's TS converted to JS).

     if (application.ios){
        var __extends = (this && this.__extends) || (function () {
            var extendStati

[2019-02-28 10:18] TLmaK0 commented on #38
install plugin nativescript-onesignal@1.0.7, remove /hooks/* and remove/add platform android as workaround

[2019-03-04 15:25] kvindascr commented on #46
I think version 1.0.8 is broken.
We have keep using version 1.0.7 for a while to avoid this issue.

[2019-03-04 18:28] delanick commented on #46
@kvindasAB How do I install that version?

[2019-03-15 15:38] fabriek-huis commented on #2
link?

[2019-03-18 15:16] sputn1k opened #50 "Plugin wont work with Nativescript-Javascript project"
Plugin doesn't work with Nativescript-Javascript type projects. Getting delegate errors can't find "implements".

[2019-03-18 22:09] fabriek-huis commented on #50
**error** -

`JS ERROR SyntaxError: Unexpected use of reserved word 'implements' in strict mode. Expected opening '{' at the start of a class body.
*** JavaScript call stack:
(
)
*** Terminating app due to uncaught exception 'NativeScript encountered a fatal error: SyntaxError: Unexpected use of reserved word 'implements' in strict mode. Expected opening '{' at the start of a class body.
at
1   @f

[2019-03-19 09:27] oncul commented on #46
bofore uninstall current version and remote hooks/onesignal file
you can use

` tns plugin add nativescript-onesignal@1.0.7`

[2019-03-22 08:04] shinde-sagar commented on #35
vue.js is a framework of javascript at the end the whole Vue files get converted into javascript. Is the same as javascript integration.

[2019-03-22 08:14] shinde-sagar commented on #11
If your using both firebase and onesignal plugin together.
1. uninstall both plugin.
2. Install onesignal 1.0.7 version first and then firebase.
3. And use
[code]
in app.gradle

[2019-04-03 09:33] ghost commented on #38
Does anyone have the solution for this? i´m using nativescript-sidekick 1.16.2-v.2019.3.13.12 (latest) and NativeScript CLI version: 5.2.3 and i just can´t pass this:
[code]

I´m completly stuck!

[2019-04-03 14:52] pdipax commented on #46
for me this plugin doesn't work

[2019-04-13 01:29] yclau opened #51 "Android version 9.0 no working"
Android version 9.0 no working when push notification in OneSignal admin portal.

[2019-05-02 15:52] boomalek commented on #38
... me too

[2019-05-07 20:09] arnaldopxm commented on #38
@roblav96 I've seen that indeed @jkasten2 last commit on his fork fixes the error. But this is not published over npm. Could you please publish it.

[2019-05-17 20:38] morlupib opened #52 "Firebase breaks the app after installing OneSignal, plugin conflict"
The versions that I installed are the following:
"nativescript-onesignal": "^1.0.8",
"nativescript-plugin-firebase": "^7.6.1",

After app build, it breaks and shows the following log:
JS: ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'firebase' of undefined
JS: TypeError: Cannot read property 'firebase' of undefined
JS:     at file:///data/data/org.nativescript.CoreMobile/fil

[2019-05-22 11:15] rochapablo commented on #9
https://github.com/geektimecoil/react-native-onesignal/issues/639#issuecomment-494756894

[2019-05-29 11:31] meysam-mahmoodi opened #53 "can't register although app starts on iOS"
Hello
I get errors on iOS while my app is going to start. everything is ok on Android. my main.ts file is:
[code]
errors:
[code]

what can I do to solve the problem? anybody could install the plugin and implement it on iOS?

[2019-05-29 11:32] meysam-mahmoodi commented on #47
could you run the plugin successfully? I have the same issue.

[2019-06-01 06:22] meysam-mahmoodi commented on #53
After some days, Finally, I found what the problem was! it was fixed by using a VPN.

[2019-06-01 06:22] #53 closed

[2019-06-12 15:01] damir-hm commented on #35
After Successfully installed plugin nativescript-onesignal build has error:

FAILURE: Build failed with an exception.
A problem occurred configuring project ':app'.
Could not resolve android.arch.lifecycle:viewmodel:1.1.0.
....
 Dependency path 'application:app:unspecified' --> 'com.android.support:appcompat-v7:28.0.0' --> 'com.android.support:support-fragment:28.0.0' --> 'android.arch.lifecycle:v

[2019-07-24 10:44] max-pro opened #55 "Fatal Exception: android.app.RemoteServiceException"
I was getting an error from firebase Crashlytics.

`Fatal Exception: android.app.RemoteServiceException: Bad notification posted from package com.ngasce.jforce: Couldn't create icon: StatusBarIcon(icon=Icon(typ=RESOURCE pkg=com.ngasce.jforce id=0x7f0b0003) visible user=0 )
       at android.app.ActivityThread$H.handleMessage + 1881(ActivityThread.java:1881)
       at android.os.Handler.dispatchMes

[2019-08-01 18:42] webmeemba opened #56 "NotificationExtenderService [HELP]"
I want my application to have been killed. Receive push notifications, I have tried to implement NotificationExtenderService, as follows without success:

En mi androidManifest.xml:
[code]

[2019-09-06 09:21] davecoffin opened #57 "Upcoming issue with iOS 13"
I got this email... any thoughts on how to fix?

Hi there,

Due to a change that may occur as part of the upcoming iOS 13 release, you must update to the latest version of the iOS SDK before building your app with Xcode 11. All of OneSignal’s wrapper SDKs including React Native, Unity, and Flutter have been updated as well.

The reason for this is that Xcode 11, which is being released alongside i

[2019-09-06 09:50] PraktikerNeosoft commented on #57
mee too. What can we do?

[2019-09-06 19:29] CapellaBlue commented on #46
I'm also experiencing difficulty in getting this plugin to run successfully. I did combine information/steps from the the Android SDK-- I also tried adding my app ID where I believed this should be placed based on the format in the npm instructions within main.ts as well as the specified location in app.gradle per the modification of deleting the hook and adding in code from Android SDK.

The main

[2019-09-06 20:16] CapellaBlue commented on #46
After removing the iOS portion of the code, the only error that remains is the error:
`Could not get unknown property 'android' for root project 'driver' of type org.gradle.api.Project.`

Is `property 'android'` the android of `application.android`? Trying to figure out how to resolve it if possible.

[2019-09-10 02:45] CapellaBlue commented on #40
FWIW, I was able to move the maven inside repositories to get past this.

[code]

[2019-09-10 03:03] CapellaBlue commented on #38
Still experiencing issues here. I can create a new issue to make it open, as it's not resolved. tns --version => 5.3.1
Here's what I've done so far to get past most of the issues I see here and in other issues
:
Install the plugin.
First, move maven into repositories within platforms/Android/build.gradle:
[code]
Then, go to platforms/Android/app/build.gradle, and remove the maven code that's added

[2019-09-10 03:12] CapellaBlue opened #58 "v.1.0.8 not working with tns 5 -- maven misplaced twice, no manifestPlaceholder, FirebaseApp error"
tns --version => 5.3.1
Here's what I've done so far to get past most of the issues I see in other issues:

First, within `platforms/Android/build.gradle`, move `maven { url "https://plugins.gradle.org/m2/" }` into repositories. It's placed outside of this originally:
[code]
Then, go to platforms/Android/app/build.gradle, and remove the maven code that's added inside a string. As mentioned above...

[2019-09-18 15:41] FlawaCLV opened #59 "Cannot read property 'toLowerCase' of undefined"
With NativeScript version 6.0 this error can be fixed with `var platform = (hookArgs.platform || (hookArgs.prepareData && hookArgs.prepareData.platform)).toLowerCase();` line 5 of nativescript-onesignal-gradle.js

StackOverflow solution here: https://stackoverflow.com/questions/57853453/nativescript-typeerror-cannot-read-property-tolowercase-of-undefined-afte

[2019-09-18 15:42] FlawaCLV commented on #59
https://github.com/roblav96/nativescript-onesignal/blob/48a24d0324ad7fb69fa0c244ee23f1f975123876/lib/postinstall.js#L22

[2019-09-19 08:25] OPADA-Eng commented on #57
Me Too.

[2019-09-19 19:58] davecoffin commented on #57
I believe this should not be a problem, as the one signal plugin pulls in the cocoapod, which has been updated to latest sdk.

[2019-09-20 15:54] oncul commented on #46
I fixed with this

remove this file
hooks/after-prepare/**nativescript-onesignal-gradle.js**

Add this to App_Resource/Android/**app.gradle**

[code]

Add this to App_Resource/Android/**buildscript.gradle**

[code]

rebuild.

[2019-10-02 17:58] simtibi opened #60 "Identifier invalid format on iOS13"

[2019-10-09 11:42] mfik commented on #59
@roblav96 please merge #61

[2019-10-25 20:44] lsapan commented on #46
Thanks for that @oncul! I had to add one additional piece to `App_Resource/Android/app.gradle`:
[code]

Without that, there were tons of errors about duplicate classes (i.e.):
[code]

[2019-10-25 20:50] oncul commented on #46
Today, i got same issue. There is a pull request about gradle. Update your
code with that pr and remove platform. You will be succeed.

25 Eki 2019 Cum, saat 23:44 tarihinde Luke Sapan <notifications@github.com>
şunu yazdı:

[2019-11-01 02:56] markosole commented on #43
Hi guys, I know this is old subject but I need help with TS to JS version. Can you please paste the code that worked for your implementation. I can't make it work, app is crashing when I try to start it.

Thanks in advance.

[2019-11-02 23:28] markosole opened #63 "TS2420: Class 'MyDelegate' incorrectly implements interface 'UIApplicationDelegate'"
Hi guys,

I am trying to setup OneSignal push notification on iOS13, with Xcode 11 (if it matter) and I can't make it work on iOS.
I have created JS code for Android and it works, but iOS is more complex and I could not make it work properly.
I've downloaded Demo app, changed App ID and OneSignal key to reflect what I'm using in real app but I am getting same errors. (check it below)

![image](htt

[2019-11-29 17:44] Atypic-prod commented on #63
Hi,
here is my JS version (in app.js) for onesignal. Tested with iOS 13 & XCode 11.

[code]

[2019-11-29 21:34] markosole commented on #63
Hi LaurentP, thanks for sharing this. I will try it now.

Just one question related to "Apns Delegate Never Fired" or "Other Apns 3000 Error" errors. Did you receive any of them? If yes, what steps did you take to resolve them.

I have tried another plugin, nativescript-onesignal-sdk which was giving me those errors. One of build worked eventually but after platform removal it stopped. :/

UPDATE:

[2020-02-14 21:42] markosole commented on #23
Hi guys, I am receiving notifications and taking certain actions when notification is opened. If app is running in background, handling received data works (payload is received). But if app is killed and notification opened, it's just does not receive any payload (does not process it).

My code is below:

    if (application.android) {
      application.on(application.launchEvent, function(args) {

[2020-02-18 00:27] markosole commented on #8
@sonnh58 I've managed to do what you looking for. It's not the best solution but works (in one case does not)
Here is example:

    if (application.android) {

                TnsOneSignal.startInit(application.android.context).init();
                TnsOneSignal.init(application.android.context,"" ,"",new
                    TnsOneSignal.NotificationOpenedHandler({
                        notifi

[2020-04-12 19:07] brunobg commented on #58
@CapellaBlue, did you manage to get this working? Are you up to forking this repo with me and making it work?

[2020-04-12 22:05] CapellaBlue commented on #58
Never got it to work, but my company abandoned using OneSignal since this
repo isn't/doesn't seem to be maintained. Just doesn't pass our standards
for dependencies.

I'll be trying to work with PubNub here soon.

When I spoke with OneSignal, they mentioned possibly taking ownership of
this repo, so the moment that occurs, I'd be interested in helping out and
exploring options.

On Sun, Apr 12, 20

[2020-04-13 00:11] brunobg commented on #58
I was thinking about taking over the repo with someone else and talking to
OneSignal to get support. There seems to be very little to do, and with
some interest it would be easier to approach them. What do you say?

On Sun, Apr 12, 2020 at 7:05 PM Amanda <notifications@github.com> wrote:

--
Bruno Barberi Gnecco

[2020-04-15 13:01] FlawaCLV commented on #47
@karlix or anyone has manage to make it work for iOS ?

[2020-08-12 11:40] #44 closed

[2020-11-26 03:00] ejlocop commented on #59
Does anyone here has tried to make it work? when I changed the code in lib/postinstall.js:22, it still didn't work and output the same error.

tried removing and adding the android platform but still didn't work.

[2020-12-15 14:08] markosole opened #65 "TnsOneSignal.initWithLaunchOptionsAppId is not a function"
Hi all,

I have upgraded my tns to ns 7 and plugin isn't working any more properly for iOS 14.x . I am getting error:
**TnsOneSignal.initWithLaunchOptionsAppId is not a function**

My code is:

`if (application.ios) {

    const MyDelegate = (function (_super) {

        __extends(MyDelegate, _super);

        function MyDelegate() {

            _super.apply(this, arguments);

        }

[2020-12-26 21:09] markosole commented on #59
Hi guys, not fully relevant to this topic but did you make any updates for NS 7 and make it work there?

Thanks!

[2020-12-27 11:03] markosole commented on #63
Hi @Atypic-prod   Have you tried this on NS 7 and build for iOS 14? - Looks like it does not work, I am getting error for **TnsOneSignal.initWithLaunchOptionsAppId** saying that it's not a function.

[2020-12-28 11:02] Atypic-prod commented on #63
Hello,
Sorry but no, I don't test this on iOS 14 because I don't use Nativescript anymore...
This repo doesn't seem to be updated for NS7 and iOS 14, and official Onesignal SDK's for native push notifications doesn't exist except for Cordova/React-native/Xamarin/Unity and of course native iOS and Android.
Honnestly, if I have an application made with NS and the need to do push notifications today,

[2020-12-28 20:08] markosole commented on #63
@Atypic-prod thanks for reply. Yeah sadly there is no support for NS any more (not available on onesignal website).
I will try to use native way to implement on iOS.

Nativescript is sinking down deep :/

I am looking for help to implement it on Native level, if anyone has experience with such a thing. I did follow OneSignal SDK for iOS and still working on it (do not know where to add code from s

[2020-12-29 11:12] Atypic-prod commented on #63
@markosole
Before following the Onesignal iOS SDK setup, **you need to have a native app project first**. After, you can create in that project a Notification Service Extension. Depending on your choice you'll have an AppDelegate.swift or AppDelegate.m at the root of your project, the place for adding the Onesignal initialization code!
Good luck!

[2020-12-29 19:16] markosole commented on #63
I will keep trying, it is not simple as it sounds. Switching to another solution like Flutter makes more sense now. I did use Intel's XDK before and Cordova, but every solution has it's flows (as this one right now).
If I make it work I'll share the code and how-to.

If anyone can give a hand I would appreciate it.

[2021-01-03 08:12] elconix commented on #65
Yes same issues, searched for answers and no luck, hope the solution is provided here:

[2021-01-06 02:34] markosole commented on #65
@elconix I am still looking for a way to implement it. Have you found anything what works? I am on the half way to implement this https://documentation.onesignal.com/docs/ios-sdk-setup as native (if possible). Having trouble adding last piece of puzzle from **Step 5 - Add the OneSignal Initialization Code**

If anyone knows where and how to add this, it would help a lot. Thc

[2021-01-06 14:55] elconix commented on #65
Hello @markosole all nativescript plugins suffer the same thing, so mark this will be a new plugin?

[2021-01-06 15:30] markosole commented on #65
@elconix
I have some good news for you.

Code below works - I can see phone registering on OneSignal. There is one minor problem, OneSignal shows Other Apns 3000 error which I have to fix. That should not be a problem.

My code:

     //app.js
    var TnsOneSignal = require('nativescript-onesignal').TnsOneSignal;

        if (application.ios) {
        const MyDelegate = (function (_super) {

[2021-01-06 15:55] elconix commented on #65
Wow @markosole awsome news, so steps:
1- Add JS code in app.ios.js (I have separate app.js for each platform)
2- Replace with our app id,
3- The screenshot I did not understand very well, what should we do for this?

[2021-01-06 16:03] markosole commented on #65
You are correct, go give it a try :)
- 1. correct add code I've pasted above to your app.ios.js. Do not forget to include `const application = require(@nativescript/core).Application;`, that is new way of including it and replaces tns-core-modules/application
- 2. Add your App ID instead xxxxxx-xxxxxx-xxxxxxx-xxxxx
- 3. Screen shot is for reference only for those who are looking for more info abou

[2021-01-06 17:16] elconix commented on #65
@markosole I use pure js, so it will be this code you attached right?

[2021-01-06 17:22] elconix commented on #65
Just for your refference:
[code]

I suppose it initialize ok.

[2021-01-06 17:25] elconix commented on #65
OK no the next step is to get the person id, for that in my login procedure I added this code:

`				    var onesignal_status=TnsOneSignal.getPermissionSubscriptionState();
					formData.append('onesignal_id', onesignal_status.getSubscriptionStatus().getUserId());
`

Got this in console:
`JavaScript error:
file: app/screens/login/login-view-model.js:51:0: JS ERROR TypeError: TnsOneSignal.getPermis

[2021-01-06 17:49] elconix commented on #65
Just as a good sign, I do see the Iphone Simulator in the Onesignal dashboard.

[2021-01-06 19:55] elconix commented on #65
Ok @markosole worked to compile well in ios, change my old code to:

[code]

the only issue now is that this code does not work for android and also the TnsOneSignal.getPermissionSubscriptionState does not work.

[2021-01-06 19:56] elconix commented on #65
Do i need to change something in android? the error in android now is:
System.err: TypeError: TnsOneSignal.getDeviceState is not a function

[2021-01-06 22:06] markosole commented on #65
Yeah but what does it say? "Never Prompted" or all looks okey? - I am getting this "Never Prompted" message and still trying to solve it.

- TypeError: TnsOneSignal.getDeviceState  This is for Android, it was not implemented in iOS, at least not the same way. You can check here for reference https://documentation.onesignal.com/docs/ios-native-sdk  ant those are available options in latest OneSigna

[2021-01-07 03:31] markosole commented on #65
@elconix Good news again;

Here is final example which works and Device is  receiving push notifications properly. No fancy stuff haven't been added, you can check out links in comments for more details and available parameters. I can help with implementing them.

**As you already probably know, you have to enable background notifications in Xcode project.**

    // Onesignal SDK Reference: https:

[2021-01-07 05:09] elconix commented on #65
this works with android @markosole have you tested in both platforms?

[2021-01-07 05:59] elconix commented on #65
Ok @markosole reinstalled the plugin as the link https://github.com/markosole/nativescript-onesignal
Tested in simulator looks fine, waiting for testflight to publish the version for trying in device.

Android does not work, used the documentation you have in the link: https://github.com/markosole/nativescript-onesignal and it sends the following error when asking for the same code working in ios

[2021-01-07 06:12] elconix commented on #65
THis is my code for getting person id:

[code]

Ios working, android sending the error:
System.err: TypeError: TnsOneSignal.getDeviceState is not a function

[2021-01-07 18:08] elconix commented on #65
Ok @markosole awsome, IOS finally working in device and everything ok.

Only now the android issue, did you try it?

Thanks

[2021-01-09 02:52] markosole commented on #65
What issue you have? Example for Android I've posted works fine. I see you are using getDeviceState, there is something different for getting state. I will have a look into one of mine older projects. Let me know If you still have problem with it.

[2021-01-09 03:04] markosole commented on #65
@elconix Here is android sample (I haven't tested for a year or so) which should work. The part you need is `status.getSubscriptionStatus().getUserId());`

The parameter/class/function `TnsOneSignal.getDeviceState` does not exists in Android, it's. Onesignal Android SDK is using different methods and they have different names too.

    var TnsOneSignal = require("nativescript-onesignal").TnsOneSig

[2021-01-09 06:19] elconix commented on #65
Ok tried this code, but it only got to Android 1:

    if (application.android) {

console.log("Android 1") ;

   application.on(application.launchEvent, function (args) {
       try {
           //console.log('TnsOneSignal', TnsOneSignal);
           if (appSetting.NotificationsEnabled()) {
               TnsOneSignal.startInit(application.android.context).init();
               TnsOneSignal.setS

[2021-01-10 23:34] markosole commented on #63
@Atypic-prod  I've made it work and you can check out my repo for forked version. I have not changes anything there yet, just added new instructions how to use.

[2021-01-10 23:37] markosole commented on #65
Sorry for late reply, I will test it ASAP when get chance. For now, remove appSetting.NotificationsEnabled() part as that's something what I built in for checking phone settings and opt-in / out option. You can replace it with if(1==1).... just for test.
I'll fire up my PC in 2-3 days and test on Android. @elconix

[2021-01-10 23:43] elconix commented on #65
Thanks I will wait, as I have a apk working before the ios changes,

Thanks

On Sun, Jan 10, 2021 at 6:37 PM Marko Solomun <notifications@github.com>
wrote:

[2021-01-21 18:44] elconix commented on #65
Hello Marko any news about android?

On Sun, Jan 10, 2021 at 6:43 PM Moises Vega <mvega@grupoenx.com> wrote:

[2021-01-21 18:59] markosole commented on #65
Hi @elconix  sorry I did not have time to try it. It's def  on my list to do as I have to update android versions too. I'm stuck on other project right now. I'll be back here as soon as I get chance, I did not forget about u.

[2021-01-29 13:52] sido420 commented on #65
Does this problem exist in NS 7+ only? I am on
[code]

[2021-01-29 14:21] markosole commented on #65
It's same thing starting from 6.5 and newer. It's mainly problem in new SDK and plugin haven't been updated to fulfill those updates / changes. Do you have problem with Android as well?

@elconix  I still did not have chance to try. I have two apps waiting to be updated.

[2021-01-29 15:37] sido420 commented on #65
@markosole
I haven't tried the plugin on any apps yet but was exploring the options on how to use Onesignal with Nativescript.

However, I will be starting with Android so I also will require a fix.

Are there other options then this plugin?

[2021-02-09 10:30] ejlocop opened #66 "[iOS] Terminating app due to uncaught exception 'NativeScript encountered a fatal error: TypeError: Attempted to assign to readonly property."
Hello, can anyone help me with this error? I have no idea how do I fix this..

this is the output from the --log trace option.
[code]

and here's the contents of the notification.ts file
[code]

[2022-11-26 18:22] Dima2111 commented on #59
go to hooks/after-prepare/nativescript-onesignal-gradle.js

and modify line 5 to : var platform = (hookArgs.platform || (hookArgs.prepareData && hookArgs.prepareData.platform)).toLowerCase();